{% extends "layout.html" %}

{% block content %}

<head>
    <script>
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
    </script>
</head>

<body onload="startTime()" style="background-color:black;">
    <div class="clock" id="txt">
    </div>
    <div class="clock col-md-6">
        <h1>Wolololo</h1>
        <h1>{{weather}}</h1>
    </div>

    <div class="clock col-md-6">
        <h1>Wolololo</h1>
        <h1>{{weather}}</h1>
    </div>

</body>
    {% endblock %}
