body
{
}


.clock {
  position: center;
  padding: 3px;
  margin-bottom: 3px;
  font-size: 65px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: #eeeeee;
  background-color: #000000;
}

.clock h1 {
  line-height: 1;
  color: inherit;
}

.clock h2 {
  line-height: 1;
  color: inherit;

  position: fixed;
  bottom: 0;
}

.clock tl {
  line-height: 1;
  color: inherit;

  position: fixed;
  top: 0;
  left: 0;
}
.clock tright {
  line-height: 1;
  color: inherit;

  position: fixed;
  top: 0;
  right: 0;
}

.clock bl {
  line-height: 1;
  color: inherit;

  position: fixed;
  bottom: 0;
  left: 0;
}
.clock bright {
  line-height: 1;
  color: inherit;

  position: fixed;
  bottom: 0;
  right: 0;
}

.clock p {
  line-height: 1.4;
}

.container .clock {
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .clock {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container .clock {
    padding-right: 0px;
    padding-left: 0px;
  }
  .clock h1 {
    font-size: 63px;
    color: #eeeeee;
  }

  .clock h2 {
    font-size: 63px;
    color: #eeeeee;
  }
}
